.features-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 90%; 
  margin: var(--gap-lg) auto; 
  background-color: #fff;
  box-sizing: border-box;
}

.feature-box {
  flex: 1;
  padding: calc(36 * var(--px));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}


.border-sides {
  border-left: var(--divider-w) solid #ccc;
  border-right: var(--divider-w) solid #ccc;
}

.icon-wrapper {
  color: #2e7d32;
  height: calc(72 * var(--px));
  margin-bottom: var(--gap-sm);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.feature-title {
  color: #2e7d32;
  font-size: var(--text-lg);
  font-weight: 700;
  margin-bottom: var(--gap-xs);
}

.feature-text {
  color: #333;
  font-size: var(--text-sm);
  line-height: 1.5;
  margin: 0;
}