
.oneway-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 calc(86 * var(--px));
  background-color: #fff;
  box-sizing: border-box;
}

.oneway-content {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}

.oneway-heading {
  font-size: var(--text-xxl);
  font-weight: 800;
  color: #444;
  line-height: 1.3;
  margin-bottom: var(--gap-md);
}

.highlight-green {
  color: #2a752e;
}

.oneway-description  {
  font-size: calc(18 * var(--px));
  color: #666;
  line-height: 1.4;
  margin: 0;
  text-align: justify;
}

.oneway-graphic {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: calc(28 * var(--px));
}

.illustration-img {
  width: 100%;
  max-width: calc(500 * var(--px));
  height: auto;
  object-fit: contain;
}